.genre-container{
    color: white;
    margin: 0 5rem;
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(auto-fill, 215px);
    justify-content: space-between;
}
.genre-content{
    position: relative;
    height: 240px;
    cursor: pointer;
    border-radius: 10%;
}