.pageNumbers {
    list-style: none;
    display: flex;
    justify-content: center;
}

.pageNumbers li {
    padding: 10px;
    cursor: pointer;
    color: white;
}

.pageNumbers li.active-pagination {
    background-color: white;
    color: black;
}
.pageNumbers li button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    font-family: cursive;
}
.pageNumbers li button:hover{
    background-color: white;
    color: black;
}
.pageNumbers li button:focus{
    outline: none;
}

